body {
    padding: 0;
    margin: 0;
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
}

#unity-container {
    width: 100%;
    height: 100%;
}

#unity-container.unity-desktop {
    width: 100%;
    height: 100%
}

#unity-container.unity-mobile {
    width: 100%;
    height: 100%
}

#unity-canvas {
    background: #231F20
}

.unity-mobile #unity-canvas {
    width: 100%;
    height: 100%
}

#unity-loading-bar {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none
}

#unity-progress-bar-empty {
    width: 141px;
    height: 18px;
    margin-top: 10px;
    margin-left: 6.5px;
    background: url('progress-bar-empty-dark.png') no-repeat center
}

#unity-progress-bar-full {
    width: 0%;
    height: 18px;
    margin-top: 10px;
    background: url('progress-bar-full-dark.png') no-repeat center
}

#unity-footer {
    position: relative
}

.unity-mobile #unity-footer {
    display: none
}

#unity-build-title {
    float: right;
    margin-right: 10px;
    line-height: 38px;
    font-family: arial;
    font-size: 18px
}

#unity-warning {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%);
    background: white;
    padding: 10px;
    display: none
}

#color-option {
    display: none;
}

#color-grid-picker-label {
    position: fixed;
    top: 25px;
    right: 50px;
    color: #fff;
}

#color-grid-picker {
    position: fixed;
    top: 25px;
    right: 150px;
}

#color-grid-size-picker-label {
    position: fixed;
    top: 50px;
    right: 50px;
    color: #fff;
    z-index: 0;
}

#color-grid-size-picker {
    position: fixed;
    top: 50px;
    right: 150px;
}